# Series

* series is data type in Pandas

In [1]:
import numpy as np

In [2]:
import pandas as pd

In [4]:
label=['a','b','c']
my_data=[10,20,30]
arr = np.array(my_data)
d=dict(a=10,b=20,c=30)

In [12]:
label

['a', 'b', 'c']

In [13]:
my_data

[10, 20, 30]

In [14]:
arr

array([10, 20, 30])

In [15]:
d

{'a': 10, 'b': 20, 'c': 30}

In [20]:
pd.Series(data=my_data)

0    10
1    20
2    30
dtype: int64

In [26]:
pd.Series(data=my_data,index=label)

a    10
b    20
c    30
dtype: int64

In [27]:
pd.Series(my_data,label)   # if you put in series then there is not need to mention Data and INdex

a    10
b    20
c    30
dtype: int64

In [28]:
pd.Series(index=label,data=my_data)   #if you

a    10
b    20
c    30
dtype: int64

In [29]:
pd.Series(arr)  # by passing numpy array

0    10
1    20
2    30
dtype: int32

In [30]:
pd.Series(arr,label)

a    10
b    20
c    30
dtype: int32

In [31]:
pd.Series(d)   # By passing Dictionary

a    10
b    20
c    30
dtype: int64

## Grab Information rom Series

In [37]:
ser1=pd.Series([1,2,3,4],['india','Canada','Netherland','Philipines'])

In [38]:
ser1

india         1
Canada        2
Netherland    3
Philipines    4
dtype: int64

In [39]:
ser2=pd.Series([1,2,5,4],['india','Canada','Cypress','Philipines'])

In [41]:
ser2

india         1
Canada        2
Cypress       5
Philipines    4
dtype: int64

In [43]:
ser1 + ser2

Canada        4.0
Cypress       NaN
Netherland    NaN
Philipines    8.0
india         2.0
dtype: float64