# Dataframes Part 3

In [23]:
import numpy as np
import pandas as pd
from numpy.random import randn

array([[-0.46291119,  0.5063966 ],
       [ 1.271873  ,  0.20535222],
       [-0.25872219,  1.02646765],
       [-1.39244548,  0.49647855],
       [-1.04492619,  1.12351554],
       [-0.46714154,  0.35180379]])

In [5]:
outside=['G1','G1','G1','G2','G2','G2']
inside=[1,2,3,1,2,3]

In [10]:
hire_index=list(zip(outside,inside))

In [11]:
hire_index

[('G1', 1), ('G1', 2), ('G1', 3), ('G2', 1), ('G2', 2), ('G2', 3)]

In [12]:
type(hire_index)

list

In [8]:
hire_index1=pd.MultiIndex.from_tuples(hire_index)

In [9]:
hire_index1

MultiIndex(levels=[['G1', 'G2'], [1, 2, 3]],
           labels=[[0, 0, 0, 1, 1, 1], [0, 1, 2, 0, 1, 2]])

In [28]:
np.arange(0,12).reshape(6,2)

array([[ 0,  1],
       [ 2,  3],
       [ 4,  5],
       [ 6,  7],
       [ 8,  9],
       [10, 11]])

In [29]:
df=pd.DataFrame(np.arange(0,12).reshape(6,2),hire_index1,['A','B'])

In [30]:
df

       A   B
G1 1   0   1
   2   2   3
   3   4   5
G2 1   6   7
   2   8   9
   3  10  11

In [31]:
df.loc['G1']

   A  B
1  0  1
2  2  3
3  4  5

In [32]:
df.loc['G1'].loc[1]

A    0
B    1
Name: 1, dtype: int32

In [33]:
df

       A   B
G1 1   0   1
   2   2   3
   3   4   5
G2 1   6   7
   2   8   9
   3  10  11

In [37]:
df.index.names=['Groups','Num']   # set name for columns

In [38]:
df

             A   B
Groups Num
G1     1     0   1
       2     2   3
       3     4   5
G2     1     6   7
       2     8   9
       3    10  11

In [41]:
df.loc['G2'].loc[2]['B']

9

In [42]:
df

             A   B
Groups Num
G1     1     0   1
       2     2   3
       3     4   5
G2     1     6   7
       2     8   9
       3    10  11

In [43]:
df.loc['G1']

     A  B
Num
1    0  1
2    2  3
3    4  5

In [45]:
df.xs('G1')   # This is replacement of df.loc['G1']

     A  B
Num
1    0  1
2    2  3
3    4  5

In [48]:
df.xs(1,level='Num')  # print index 1 from both group

        A  B
Groups
G1      0  1
G2      6  7