# Groupby

In [5]:
import numpy as np
import pandas as pd

In [6]:
data=dict(team=['Env','Env','Mobolity','Mobolity','Uvers','Uvers'],Person=['Sujit','Sunil','Sanjeet','Sheela','Deepak','Mayank'],Defect=[200,120, 
                                                                                                                                        340,124,243,350])

In [7]:
data

{'team': ['Env', 'Env', 'Mobolity', 'Mobolity', 'Uvers', 'Uvers'],
 'Person': ['Sujit', 'Sunil', 'Sanjeet', 'Sheela', 'Deepak', 'Mayank'],
 'Defect': [200, 120, 340, 124, 243, 350]}

In [8]:
df=pd.DataFrame(data)

In [9]:
df

       team   Person  Defect
0       Env    Sujit     200
1       Env    Sunil     120
2  Mobolity  Sanjeet     340
3  Mobolity   Sheela     124
4     Uvers   Deepak     243
5     Uvers   Mayank     350

In [11]:
bycomp=df.groupby('team')

In [12]:
bycomp.mean()

          Defect
team
Env        160.0
Mobolity   232.0
Uvers      296.5

In [13]:
bycomp.sum()

          Defect
team
Env          320
Mobolity     464
Uvers        593

In [14]:
bycomp.std()

              Defect
team
Env        56.568542
Mobolity  152.735065
Uvers      75.660426

In [16]:
bycomp.sum().loc['Env']

Defect    320
Name: Env, dtype: int64

In [20]:
df.groupby('team').sum().loc['Env']

Defect    320
Name: Env, dtype: int64

In [25]:
df.groupby('team').count()

          Person  Defect
team
Env            2       2
Mobolity       2       2
Uvers          2       2

In [28]:
df.groupby('team').max()  # here max willl be allpy on  two column , from Person it will identify max by alphabet and from column Defect max will be calculted based on Defect number

          Person  Defect
team
Env        Sunil     200
Mobolity  Sheela     340
Uvers     Mayank     350

In [29]:
df

       team   Person  Defect
0       Env    Sujit     200
1       Env    Sunil     120
2  Mobolity  Sanjeet     340
3  Mobolity   Sheela     124
4     Uvers   Deepak     243
5     Uvers   Mayank     350

In [30]:
df.groupby('team').min()

           Person  Defect
team
Env         Sujit     120
Mobolity  Sanjeet     124
Uvers      Deepak     243

## Describe all

In [31]:
df.groupby('team').describe()

         Defect
          count   mean         std    min     25%    50%     75%    max
team
Env         2.0  160.0   56.568542  120.0  140.00  160.0  180.00  200.0
Mobolity    2.0  232.0  152.735065  124.0  178.00  232.0  286.00  340.0
Uvers       2.0  296.5   75.660426  243.0  269.75  296.5  323.25  350.0

In [32]:
df.groupby('team').describe().transpose()

team                 Env    Mobolity       Uvers
Defect count    2.000000    2.000000    2.000000
       mean   160.000000  232.000000  296.500000
       std     56.568542  152.735065   75.660426
       min    120.000000  124.000000  243.000000
       25%    140.000000  178.000000  269.750000
       50%    160.000000  232.000000  296.500000
       75%    180.000000  286.000000  323.250000
       max    200.000000  340.000000  350.000000

In [58]:
df.groupby('team').describe().transpose()['Env']

Defect  count      2.000000
        mean     160.000000
        std       56.568542
        min      120.000000
        25%      140.000000
        50%      160.000000
        75%      180.000000
        max      200.000000
Name: Env, dtype: float64

In [57]:
df.groupby('team').describe()

         Defect
          count   mean         std    min     25%    50%     75%    max
team
Env         2.0  160.0   56.568542  120.0  140.00  160.0  180.00  200.0
Mobolity    2.0  232.0  152.735065  124.0  178.00  232.0  286.00  340.0
Uvers       2.0  296.5   75.660426  243.0  269.75  296.5  323.25  350.0

In [60]:
df.groupby('team').describe()['Defect']

          count   mean         std    min     25%    50%     75%    max
team
Env         2.0  160.0   56.568542  120.0  140.00  160.0  180.00  200.0
Mobolity    2.0  232.0  152.735065  124.0  178.00  232.0  286.00  340.0
Uvers       2.0  296.5   75.660426  243.0  269.75  296.5  323.25  350.0